<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6" size-md="8">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Login with email/userId and password</ion-card-subtitle>
            <ion-card-title>Login</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
              <ion-item class="ion-no-padding">
                <ion-label position="floating">Email/UserID</ion-label>
                <ion-input type="email" formControlName="email" inputmode="email"></ion-input>
                <ion-note slot="error">
                  <arv-validation-messages for="email"></arv-validation-messages>
                </ion-note>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" formControlName="password" inputmode="text"></ion-input>
                <ion-note slot="error">
                  <arv-validation-messages for="password"></arv-validation-messages>
                </ion-note>
              </ion-item>
              <div class="ion-margin-top">
                <ion-button type="submit">Sign In</ion-button>
                <ion-button type="button" class="ion-float-right" [routerLink]="['/auth/register']">
                  Sign Up
                </ion-button>
              </div>
              <div class="ion-margin-top">
                <p>Or Login with</p>
                <ion-button type="button">
                  <ion-icon slot="icon-only" name="logo-google" size="large"></ion-icon>
                </ion-button>
                <ion-button type="button" class="ion-margin-start">
                  <ion-icon slot="icon-only" name="logo-microsoft" size="large">
                  </ion-icon>
                </ion-button>
              </div>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>