<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6" size-md="8">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Login with email/userId and password</ion-card-subtitle>
            <ion-card-title>Login</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-item class="ion-no-padding">
              <ion-label position="floating">Email/UserID</ion-label>
              <ion-input type="email" inputmode="email"></ion-input>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" inputmode="text"></ion-input>
            </ion-item>
            <div class="ion-margin-top ion-justify-content-between">
              <ion-button type="submit">Sign In</ion-button>
              <ion-button type="button" class="ion-float-right">Sign Up</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>