<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6" size-md="8">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Login with email/userId and password</ion-card-subtitle>
            <ion-card-title>Login</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-item class="ion-no-padding">
              <ion-label position="floating">Email/UserID</ion-label>
              <ion-input type="email" inputmode="email"></ion-input>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" inputmode="text"></ion-input>
            </ion-item>
            <div class="ion-margin-top">
              <ion-button type="submit" [routerLink]="['/auth/profile_edit']">Sign In</ion-button>
              <ion-button type="button" class="ion-float-right">Sign Up</ion-button>
            </div>
            <div class="ion-margin-top">
              <p>Or Login with</p>
              <ion-button type="button">
                <ion-icon slot="icon-only" name="logo-google" size="large"></ion-icon>
              </ion-button>
              <ion-button type="button" class="ion-margin-start">
                <ion-icon slot="icon-only" name="logo-microsoft" size="large">
                </ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>